.formContainer {
  padding:30px;
  border-radius: 5px;
  height: fit-content;
}

.impactDivs {
  padding: 2em;
}

.button {
  border-style: none;
  border-color: white;
  background-color: black;
  width: 100%;
}
.button:hover {
  background-color: #3d854d;
  color: white;
}